* { font-family: calibri, helvetica, sans-serif; }

nav { float: left; margin-right: 1em;}

nav {
 
  background-color: #ccc;                                    /* thomas */
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1em;
  width: 12em;                                /* do em for other styles too !! */
  border-right: 1px none #333;                   /* thomas from solid */
  margin-bottom: 1em;
  color: #900;
}
nav ul { 
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li { 
                                 
  margin: 0;
  border-top: 1px none #333;                /* check ! */
    
}
nav ul li a {
  display: block;
            float: left;
            clear: both;
        
             /* border-color: green; */
    
  background-color: #ccc;
        
/*  border-top: 1px none #333;
  border-right: 1px none #333;
  border-bottom: thin dotted #333; 
    */
  border-left: 5px solid #333; 
  text-decoration: none;
  padding: 2px 2px 2px 0.5em;
}
nav a:link {
  color: #900;
}
nav a:visited {
  color: #900;
}
nav a:hover {
  color: #fff;
  /* background-color: #900;
  border-top: 1px outset #333;
  border-right: 1px outset #333;
  border-bottom: 1px outset #333;
      */
  border-left: 5px outset #333;
  
}

nav a:active {  
  color: yellow;  /* thomas was white #fff */
  background-color: #ccc; /* thomas was #900 */
    /*
  border-top: 1px inset #333;
  border-right: 1px inset #333;
  border-bottom: 1px inset #333;
    */
  border-left: 5px inset #333;
}

nav ul ul a { 
  list-style: none;
  padding-left: 1.5em;
  font-size: 95%;
  font-weight: normal;
  font-style: normal; /* thomas */
}
nav ul ul ul a { 
  list-style: none;
  padding-left: 2.5em;
  font-size: 90%;
  font-weight: normal;
  font-style: normal;
}
nav ul.collapse {  // ???
  display: none; 
}

/* thomas  tes, ok

nav li[nested="true"] > a {
    color: blue;
} */

nav li[iamhere="true"] > a { 
    color: #fff;
    background-color: #ccc;
    font-weight: bolder;}

nav li[iamhere="true"] > a:hover {
  color: #900; 
  background-color: #fff;
  /* border-top: 1px none #333;
  border-right: 1px solid #333;
  border-bottom: thin dotted #333;
  border-left: 5px solid #333;
    */} 

// --


header {
    display: block;  
                        border-left: 5px solid #333;
}
header {
    background-color: rosybrown;
     
   
}

footer {
    background-color: lightcyan;
}

header h1[title="club_e-12"] {
    color: white;
    display:inline-flex;
    float: left;
     font-weight: bold;
     font-size: 24px;  /* 2em */
}

/* wayfinding */

span[id="wayfinding"] {


    font-weight: bold;
     font-size: 0.8em; 
    text-align: center;
    
      width:auto;
   
    
}

#intro {
    color: #333;
    font-weight: 600;
}
#path {
    color:#900;
}
#sep_symb {
    font-size: 0.9em; 
    color:deepskyblue;
}
  

body {
    background-color: beige;
    
}

body article h1 {
    font-size: 2.5em;
  
}

body section article {
    text-align: justify;
    padding-right:  24px; /* improve */
}

/* nav list with arrow symbol for nested items aliged to the right */


nav div.arrow { 
    display: block;
    background-color: #ccc;
    color: #900;
 
    
    float: right;
     clear: right;
    }
nav div.arrow[highlight_arrow="true"] {
    color: #fff;
}

/* new header styles for float layout , thomas */

.header_text {
    position: absolute; 
    bottom: 0;
    
    display: flex;
  
    
    border: solid 0px blue;
    color: #333;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

/* layout , thomas */

html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}
#wrapper {
            
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
    position: relative
}
#footer {
    height: 100px;
    border-left: 5px solid #333;
}
#footer-content {
        border: 0px;
    height: 92px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 8px 0 0 0;
}
.push {
    height: 100px;
    clear: both;
}

header {

    height: 80px;
    border-left: 5px solid #333;
    padding-bottom: 20px  yellow;
    
}
#header-content {
    
   position: relative;  /* thomas, absolute down to footer */
 
    height: 98px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 0;
    
    align-content: center;
    text-align: center;
}

header h1 {
    display: inline;
    color: white;
    font-style: italic;
 
}

#subtitle {
    color: white;
    font-style: italic;
    font-size: 0.8em; 
}

#content {
    height: 100%;
}
#sidebar {
       padding-top: 1em;
       box-shadow: inset  5px 0 0 #333;
       background-color:  #ccc;
       width: 200px;
    position: absolute;
    left: 0;
    top: 100px;
    bottom: 100px;
}
#main {
    margin-left: 302px
}