nav { float: left; margin-right: 1em;}

nav {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  width: 10em;
  border-right: 1px solid #333;
  margin-bottom: 1em;
  background-color: #ddd;
  color: #900;
}
nav ul { 
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li { 
  margin: 0;
  border-top: 1px none #333;
}
nav ul li a {
  display: block;
  background-color: #ccc;
  border-top: 1px none #333;
  border-right: 1px solid #333;
  border-bottom: thin dotted #333;
  border-left: 5px solid #333;
  text-decoration: none;
  padding: 2px 2px 2px 0.5em;
}
nav a:link {
  color: #900;
}
nav a:visited {
  color: #900;
}
nav a:hover {
  color: #fff;
  background-color: #900;
  border-top: 1px outset #333;
  border-right: 1px outset #333;
  border-bottom: 1px outset #333;
  border-left: 5px outset #333;
}

nav a:active {  /* redundandt ? */
  color: #fff;
  background-color: #900;
  border-top: 1px inset #333;
  border-right: 1px inset #333;
  border-bottom: 1px inset #333;
  border-left: 5px inset #333;
}

nav ul ul a { 
  list-style: none;
  padding-left: 1.5em;
  font-size: 85%;
  font-weight: normal;
  font-style: italic; /* thomas */
}
nav ul ul ul a { 
  list-style: none;
  padding-left: 2.5em;
  font-size: 75%;
  font-weight: normal;
  font-style: normal;
}
nav ul.collapse {  // ???
  display: none; 
}

// thomas

nav li[nested="true"] > a {
    letter-spacing: 12px;
    background-color: blue;
}

nav li[iamhere="true"] > a { background-color: white; }

nav li[iamhere="true"] > a:hover {
  color: #900;
  background-color: #fff;
  border-top: 1px none #333;
  border-right: 1px solid #333;
  border-bottom: thin dotted #333;
  border-left: 5px solid #333;}

// --
header, nav, section, footer {
    display: block;
}

header {
    background-color: yellow;
}

footer {
    background-color: aquamarine;
}

header p[title="club_e-12"] {
     font-weight: bold;
     font-size: 2em; 
}

div[id="wayfinding"] {
    display: block;
    background-color: blanchedalmond;
    font-weight: bold;
     font-size: 1.5em; 
    text-align: center;
}

section {
    background-color: beige;
}

body article h2 {
    font-size: 1.5em; 
}


